1. Import Dataset and Describe Characteristics

File Details:

File Type: CSV

File Size: 3.7 MB

Import Methods: Use Python libraries such as pandas to import the dataset.

In [1]:
import pandas as pd

# Importing the dataset
data = pd.read_csv("Dataset 1 (Bank Marketing)/bank_marketing.csv", sep=';')


# Displaying dataset info
print(data.info())
print(data.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        43872 non-null  float64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    43905 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    43828 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  deposit    45211 non-null  object
dtypes: float64(1), int64(6), object(10)
memory usage: 5.9+ MB
None
                 age          job  marital  education default        balance  \
count   43872.000000        45211    45211      45211   43905   45211.000000
unique           NaN           12        3          4       2            NaN
top              NaN  blue-collar  married  secondary      no            NaN
freq             NaN         9732    27214      23202   43113            NaN
mean       40.924781          NaN      NaN        NaN     NaN    1362.272058
std        10.610835          NaN      NaN        NaN     NaN    3044.765829
min        18.000000          NaN      NaN        NaN     NaN   -8019.000000
25%        33.000000          NaN      NaN        NaN     NaN      72.000000
50%        39.000000          NaN      NaN        NaN     NaN     448.000000
75%        48.000000          NaN      NaN        NaN     NaN    1428.000000
max        95.000000          NaN      NaN        NaN     NaN  102127.000000

       housing   loan   contact           day  month      duration  \
count    45211  45211     43828  45211.000000  45211  45211.000000
unique       2      2         3           NaN     12           NaN
top        yes     no  cellular           NaN    may           NaN
freq     25130  37967     28410           NaN  13766           NaN
mean       NaN    NaN       NaN     15.806419    NaN    258.163080
std        NaN    NaN       NaN      8.322476    NaN    257.527812
min        NaN    NaN       NaN      1.000000    NaN      0.000000
25%        NaN    NaN       NaN      8.000000    NaN    103.000000
50%        NaN    NaN       NaN     16.000000    NaN    180.000000
75%        NaN    NaN       NaN     21.000000    NaN    319.000000
max        NaN    NaN       NaN     31.000000    NaN   4918.000000

            campaign         pdays      previous poutcome deposit
count   45211.000000  45211.000000  45211.000000    45211   45211
unique           NaN           NaN           NaN        4       2
top              NaN           NaN           NaN  unknown      no
freq             NaN           NaN           NaN    36959   39922
mean        2.763841     40.197828      0.580323      NaN     NaN
std         3.098021    100.128746      2.303441      NaN     NaN
min         1.000000     -1.000000      0.000000      NaN     NaN
25%         1.000000     -1.000000      0.000000      NaN     NaN
50%         2.000000     -1.000000      0.000000      NaN     NaN
75%         3.000000     -1.000000      0.000000      NaN     NaN
max        63.000000    871.000000    275.000000      NaN     NaN

Characteristics:

Dimensions: Determine the number of rows and columns:

In [2]:
print(f"Dataset Dimensions: {data.shape}")

Dataset Dimensions: (45211, 17)

Data Types: Inspect the data types of columns using data.dtypes.

Structure: Look for missing values, categorical and numerical features.

2. Clean, Wrangle, and Handle Missing Data

Identify Missing Values

Use data.isnull().sum() to identify missing values.

Note: In this dataset, "unknown" often represents missing or unspecified values.

Handle Missing Values

Categorical Columns: Replace "unknown" with the mode or "Not Specified" based on the context.

In [7]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,58.0,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44.0,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33.0,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47.0,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33.0,unknown,single,unknown,no,1,no,no,NaN,5,may,198,1,-1,0,unknown,no

2. Clean, Wrangle, and Handle Missing Data
Missing Values
Identify missing values using:

In [9]:


print(data.isnull().sum())

age          1339
job             0
marital         0
education       0
default      1306
balance         0
housing         0
loan            0
contact      1383
day             0
month           0
duration        0
campaign        0
pdays           0
previous        0
poutcome        0
deposit         0
dtype: int64

In [8]:
data['job'].replace('unknown', 'Not Specified', inplace=True)
data['education'].replace('unknown', 'Not Specified', inplace=True)

C:\Users\Bhrami Zadafiya\AppData\Local\Temp\ipykernel_34484\2545989736.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['job'].replace('unknown', 'Not Specified', inplace=True)
C:\Users\Bhrami Zadafiya\AppData\Local\Temp\ipykernel_34484\2545989736.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['education'].replace('unknown', 'Not Specified', inplace=True)

In [10]:
data['contact'].fillna('unknown', inplace=True)

C:\Users\Bhrami Zadafiya\AppData\Local\Temp\ipykernel_34484\2855817448.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['contact'].fillna('unknown', inplace=True)

Numeric Columns: Use mean/median imputation or remove rows with missing data (depending on impact).

In [11]:
data['balance'].fillna(data['balance'].median(), inplace=True)

C:\Users\Bhrami Zadafiya\AppData\Local\Temp\ipykernel_34484\3736860246.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['balance'].fillna(data['balance'].median(), inplace=True)

3. Transform Data Appropriately
Aggregation
Group by categorical variables to understand trends:

In [12]:
print(data.groupby('job')['balance'].mean())

job
Not Specified    1772.357639
admin.           1135.838909
blue-collar      1078.826654
entrepreneur     1521.470074
housemaid        1392.395161
management       1763.616832
retired          1984.215106
self-employed    1647.970868
services          997.088108
student          1388.060768
technician       1252.632092
unemployed       1521.745971
Name: balance, dtype: float64

In [14]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.5.2-cp312-cp312-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\bhrami zadafiya\anaconda3\envs\mastersenv\lib\site-packages (from scikit-learn) (2.1.3)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.14.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.2-cp312-cp312-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   -- ------------------------------------- 0.8/11.0 MB 4.2 MB/s eta 0:00:03
   ------ --------------------------------- 1.8/11.0 MB 5.3 MB/s eta 0:00:02
   -------- ------------------------------- 2.4/11.0 MB 3.8 MB/s eta 0:00:03
   ----------- ---------------------------- 3.1/11.0 MB 3.9 MB/s eta 0:00:02
   ------------- -------------------------- 3.7/11.0 MB 4.0 MB/s eta 0:00:02
   ------------------ --------------------- 5.0/11.0 MB 4.0 MB/s eta 0:00:02
   -------------------- ------------------- 5.8/11.0 MB 4.0 MB/s eta 0:00:02
   ----------------------- ---------------- 6.6/11.0 MB 3.9 MB/s eta 0:00:02
   -------------------------- ------------- 7.3/11.0 MB 3.9 MB/s eta 0:00:01
   ----------------------------- ---------- 8.1/11.0 MB 3.9 MB/s eta 0:00:01
   -------------------------------- ------- 8.9/11.0 MB 3.8 MB/s eta 0:00:01
   ----------------------------------- ---- 9.7/11.0 MB 3.9 MB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 3.9 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 3.8 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading scipy-1.14.1-cp312-cp312-win_amd64.whl (44.5 MB)
   ---------------------------------------- 0.0/44.5 MB ? eta -:--:--
    --------------------------------------- 0.8/44.5 MB 4.2 MB/s eta 0:00:11
   - -------------------------------------- 1.6/44.5 MB 4.2 MB/s eta 0:00:11
   -- ------------------------------------- 2.4/44.5 MB 4.2 MB/s eta 0:00:11
   --- ------------------------------------ 3.4/44.5 MB 4.0 MB/s eta 0:00:11
   --- ------------------------------------ 4.2/44.5 MB 4.0 MB/s eta 0:00:11
   ---- ----------------------------------- 5.0/44.5 MB 4.0 MB/s eta 0:00:10
   ---- ----------------------------------- 5.2/44.5 MB 3.5 MB/s eta 0:00:12
   ----- ---------------------------------- 5.8/44.5 MB 3.4 MB/s eta 0:00:12
   ----- ---------------------------------- 6.3/44.5 MB 3.3 MB/s eta 0:00:12
   ----- ---------------------------------- 6.6/44.5 MB 3.1 MB/s eta 0:00:13
   ------ --------------------------------- 7.1/44.5 MB 3.1 MB/s eta 0:00:13
   ------ --------------------------------- 7.6/44.5 MB 3.0 MB/s eta 0:00:13
   ------- -------------------------------- 8.4/44.5 MB 3.0 MB/s eta 0:00:13
   -------- ------------------------------- 8.9/44.5 MB 3.0 MB/s eta 0:00:12
   -------- ------------------------------- 9.7/44.5 MB 3.0 MB/s eta 0:00:12
   --------- ------------------------------ 10.2/44.5 MB 3.0 MB/s eta 0:00:12
   --------- ------------------------------ 11.0/44.5 MB 3.0 MB/s eta 0:00:12
   ---------- ----------------------------- 11.5/44.5 MB 3.0 MB/s eta 0:00:12
   ---------- ----------------------------- 12.1/44.5 MB 3.0 MB/s eta 0:00:11
   ----------- ---------------------------- 12.8/44.5 MB 3.0 MB/s eta 0:00:11
   ----------- ---------------------------- 13.1/44.5 MB 2.9 MB/s eta 0:00:11
   ------------ --------------------------- 13.6/44.5 MB 2.9 MB/s eta 0:00:11
   ------------ --------------------------- 14.2/44.5 MB 2.9 MB/s eta 0:00:11
   ------------- -------------------------- 14.7/44.5 MB 2.8 MB/s eta 0:00:11
   ------------- -------------------------- 15.2/44.5 MB 2.8 MB/s eta 0:00:11
   -------------- ------------------------- 15.7/44.5 MB 2.8 MB/s eta 0:00:11
   -------------- ------------------------- 16.5/44.5 MB 2.8 MB/s eta 0:00:10
   --------------- ------------------------ 17.3/44.5 MB 2.9 MB/s eta 0:00:10
   ---------------- ----------------------- 18.1/44.5 MB 2.9 MB/s eta 0:00:10
   ---------------- ----------------------- 18.9/44.5 MB 2.9 MB/s eta 0:00:09
   ----------------- ---------------------- 19.4/44.5 MB 2.9 MB/s eta 0:00:09
   ----------------- ---------------------- 19.7/44.5 MB 2.9 MB/s eta 0:00:09
   ----------------- ---------------------- 19.9/44.5 MB 2.8 MB/s eta 0:00:09
   ------------------ --------------------- 20.2/44.5 MB 2.8 MB/s eta 0:00:09
   ------------------ --------------------- 20.7/44.5 MB 2.8 MB/s eta 0:00:09
   ------------------- -------------------- 21.2/44.5 MB 2.7 MB/s eta 0:00:09
   ------------------- -------------------- 21.8/44.5 MB 2.7 MB/s eta 0:00:09
   -------------------- ------------------- 22.8/44.5 MB 2.8 MB/s eta 0:00:08
   --------------------- ------------------ 23.6/44.5 MB 2.8 MB/s eta 0:00:08
   --------------------- ------------------ 24.4/44.5 MB 2.8 MB/s eta 0:00:08
   ---------------------- ----------------- 25.2/44.5 MB 2.8 MB/s eta 0:00:07
   ----------------------- ---------------- 26.0/44.5 MB 2.9 MB/s eta 0:00:07
   ------------------------ --------------- 26.7/44.5 MB 2.9 MB/s eta 0:00:07
   ------------------------ --------------- 27.8/44.5 MB 2.9 MB/s eta 0:00:06
   ------------------------- -------------- 28.6/44.5 MB 2.9 MB/s eta 0:00:06
   -------------------------- ------------- 29.4/44.5 MB 3.0 MB/s eta 0:00:06
   -------------------------- ------------- 29.9/44.5 MB 2.9 MB/s eta 0:00:05
   --------------------------- ------------ 30.9/44.5 MB 3.0 MB/s eta 0:00:05
   ---------------------------- ----------- 31.7/44.5 MB 3.0 MB/s eta 0:00:05
   ----------------------------- ---------- 32.5/44.5 MB 3.0 MB/s eta 0:00:04
   ----------------------------- ---------- 33.0/44.5 MB 3.0 MB/s eta 0:00:04
   ------------------------------ --------- 33.6/44.5 MB 3.0 MB/s eta 0:00:04
   ------------------------------ --------- 33.8/44.5 MB 3.0 MB/s eta 0:00:04
   ------------------------------ --------- 34.3/44.5 MB 2.9 MB/s eta 0:00:04
   ------------------------------- -------- 34.6/44.5 MB 2.9 MB/s eta 0:00:04
   ------------------------------- -------- 35.1/44.5 MB 2.9 MB/s eta 0:00:04
   ------------------------------- -------- 35.4/44.5 MB 2.9 MB/s eta 0:00:04
   -------------------------------- ------- 35.9/44.5 MB 2.9 MB/s eta 0:00:03
   -------------------------------- ------- 36.4/44.5 MB 2.9 MB/s eta 0:00:03
   --------------------------------- ------ 37.0/44.5 MB 2.9 MB/s eta 0:00:03
   --------------------------------- ------ 37.5/44.5 MB 2.8 MB/s eta 0:00:03
   --------------------------------- ------ 37.7/44.5 MB 2.8 MB/s eta 0:00:03
   ---------------------------------- ----- 38.3/44.5 MB 2.8 MB/s eta 0:00:03
   ---------------------------------- ----- 38.8/44.5 MB 2.8 MB/s eta 0:00:03
   ----------------------------------- ---- 39.3/44.5 MB 2.8 MB/s eta 0:00:02
   ----------------------------------- ---- 39.8/44.5 MB 2.8 MB/s eta 0:00:02
   ------------------------------------ --- 40.1/44.5 MB 2.8 MB/s eta 0:00:02
   ------------------------------------ --- 40.6/44.5 MB 2.8 MB/s eta 0:00:02
   ------------------------------------ --- 41.2/44.5 MB 2.8 MB/s eta 0:00:02
   ------------------------------------- -- 41.4/44.5 MB 2.8 MB/s eta 0:00:02
   ------------------------------------- -- 42.2/44.5 MB 2.7 MB/s eta 0:00:01
   -------------------------------------- - 42.5/44.5 MB 2.7 MB/s eta 0:00:01
   -------------------------------------- - 43.0/44.5 MB 2.7 MB/s eta 0:00:01
   ---------------------------------------  43.5/44.5 MB 2.7 MB/s eta 0:00:01
   ---------------------------------------  44.0/44.5 MB 2.7 MB/s eta 0:00:01
   ---------------------------------------  44.3/44.5 MB 2.7 MB/s eta 0:00:01
   ---------------------------------------- 44.5/44.5 MB 2.7 MB/s eta 0:00:00
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.2 scipy-1.14.1 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

In [15]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
data[['balance', 'duration', 'campaign']] = scaler.fit_transform(data[['balance', 'duration', 'campaign']])

In [16]:
data['quarter'] = data['month'].apply(lambda x: 'Q1' if x in ['jan', 'feb', 'mar'] else 'Q2' if x in ['apr', 'may', 'jun'] else 'Q3' if x in ['jul', 'aug', 'sep'] else 'Q4')

In [17]:
data['age_group'] = pd.cut(data['age'], bins=[0, 30, 50, 100], labels=['Young', 'Middle-aged', 'Senior'])

In [18]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit,quarter,age_group
0,58.0,management,married,tertiary,no,0.092259,yes,no,unknown,5,may,0.053070,0.0,-1,0,unknown,no,Q2,Senior
1,44.0,technician,single,secondary,no,0.073067,yes,no,unknown,5,may,0.030704,0.0,-1,0,unknown,no,Q2,Middle-aged
2,33.0,entrepreneur,married,secondary,no,0.072822,yes,yes,unknown,5,may,0.015453,0.0,-1,0,unknown,no,Q2,Middle-aged
3,47.0,blue-collar,married,Not Specified,no,0.086476,yes,no,unknown,5,may,0.018707,0.0,-1,0,unknown,no,Q2,Middle-aged
4,33.0,Not Specified,single,Not Specified,no,0.072812,no,no,unknown,5,may,0.040260,0.0,-1,0,unknown,no,Q2,Middle-aged